@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@700&display=swap");
body {
  margin: 0;
  line-height: normal;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* fonts */
  --paragraph-regular-bold: "Proxima Nova";
  --font-montserrat: Montserrat;

  /* font sizes */
  --paragraph-regular-bold-size: 1rem;
  --font-size-11xl: 1.88rem;
  --font-size-lg: 1.13rem;
  --font-size-5xl: 1.5rem;
  --font-size-sm: 0.88rem;

  /* Colors */
  --light-theme-bg-color-surface: #f9f9f9;
  --light-theme-border-light: #f1f1f1;
  --slicing-native: #9a8af9;
  --color-black: #000;
  --brand-colors-bg-color-primary: #003057;
  --text-colors-brand-colors-safe-on-primary: #fff;
  --text-colors-light-theme-muted-on-light: #666;
  --text-colors-light-theme-safe-on-light: #262628;

  /* Gaps */
  --gap-base: 1rem;
  --gap-5xl: 1.5rem;
  --gap-5xs: 0.5rem;
  --gap-29xl: 3rem;

  /* Paddings */
  --padding-5xs: 0.5rem;
  --padding-base-5: 1.03rem;
  --padding-5xl: 1.5rem;
  --padding-29xl: 3rem;
  --padding-xs: 0.75rem;
  --padding-lg: 1.13rem;
  --padding-base: 1rem;

  /* border radiuses */
  --br-77xl: 96px;
}
